<%= render :template => 'commons/_header' %>

<p id="notice"><%= notice %></p>

<div class="well">
	<p>
		<b>Label:</b>
		<%= @service.label %>
	</p>

	<p>
		<b>Commentaire:</b>
		<%= @service.commentaire %>
	</p>
</div>

<div class="center">
	<%= link_to 'Retour', services_path, class:"btn btn-inverse" %> |
	<%= link_to 'Editer', edit_service_path(@service), class:"btn btn-warning" %>
</div>