<%= render :template => 'commons/_header' %>

<h3>Liste des Villes</h3>
<br/>

Fichiers villes téléchargeable <a target="_blank" style="color: blue; background: white;" href="http://www.blog.manit4c.com/2010/05/19/listes-utiles-au-format-csv/">ici</a>
<div class="center">
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
		Chargement par fichier
	</button>

	<div id="uploadFile" class="collapse">
		<br />
		<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
		<%= file_field_tag :my_file %>
		<%= submit_tag("Charger", class: "btn btn-primary") %>					
		<% end %>
	</div>
</div>			
<br />

<table id="cleaning-ville" class="display" data-source="<%= cleaning_villes_url(format: "json") %>">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Nom Majuscule</th>
			<th>Code Postal</th>
			<th>Code INSEE</th>
		</tr>
  </thead>
  <tbody>
  </tbody>
</table>