
<%= simple_form_for @bdl, :html => {:class => "form-horizontal"} do |f| %>
  <% if @bdl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bdl.errors.count, "error") %> prohibited this bdl from being saved:</h2>

      <ul>
      <% @bdl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<!-- Numéro de Bon de Livraison -->
<%= f.input :num_bdl %>

<!-- Client -->
<%= f.association :client, :collection => Client.all, :prompt => "Choisissez un client",
  :key => :id , :label_method => :form_title %>

<!-- Label -->
<%= f.input :label %>

<!-- Majoration -->
<div class="control-group integer optional disabled">
	<label class="control-label float">Majoration (en %)</label>
	<div class="controls">
		<%= f.text_field :majoration, :label => "Majoration" %>
	</div>
</div>     

<!-- Date Bon de Livraison -->

<div class="control-group">
  <label class="control-label">Date de Livraison</label>
  <div class="controls">
    <%= f.text_field :date_bdl, :label => "Date Bon de Livraison", :class => "datepicker", :value => @bdl.try(:date_bdl).try(:strftime, '%m/%d/%Y') %>
  </div>	  	
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3>Produits :</h3>
			<table class="table">
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Cadeau</th>
				</tr>
				<% for comProduit in @bdl.commande_produit %>
				
					<%= fields_for "bdl[bdl_produit_attributes][]", comProduit do |comProduit_form| %>
					<tr>
						<td><%= comProduit.produit.label %> : </td>
						<td><%= comProduit_form.text_field :qty %></td>
						<td><%= comProduit_form.text_field :qty_cadeau %></td>
						<%= comProduit_form.hidden_field :produit_id %>
					</tr>
					<% end %>
				<% end %>
			</table>
		</div>
		<div class="span6">
			<h3>Services :</h3>
			<table class="table" width="100%">
				<tr>
					<th>Service</th>
					<th>Prix</th>
				</tr>
				<% for comService in @bdl.commande_service %>
				
					<%= fields_for "bdl[bdl_service_attributes][]", comService do |comService_form| %>
					<tr>
						<td><%= comService.service.label %> : </td>
						<td><%= comService_form.text_field :montant %></td>
						<%= comService_form.hidden_field :service_id %>
					</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Enregistrer
	<% end %>
</div>
<% end %>
