<%= simple_form_for @produit, :html => {:class => "form-horizontal"} do |f| %>
<% if notification = f.error_notification %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notification %>
</div>
<% end %>

<%= f.input :label, :label => "Label"  %>
<%= f.input :commentaire, :label => "Commentaire"  %>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Save
	<% end %>
</div>
<% end %>
