<%= render :template => 'commons/_header' %>

<h1>Statistique commandes</h1>

<br />

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>​

<script type="text/javascript" charset="utf-8">

$(function () {	
	
  new Highcharts.StockChart({
    chart: { renderTo: 'orders_chart' },
    title: { text: 'Commandes' },
		    rangeSelector: {
		        buttons: [{
		            type: 'day',
		            count: 3,
		            text: '3j'
		        }, {
		            type: 'week',
		            count: 1,
		            text: '1s'
		        }, {
		            type: 'month',
		            count: 1,
		            text: '1m'
		        }, {
		            type: 'month',
		            count: 6,
		            text: '6m'
		        }, {
		            type: 'year',
		            count: 1,
		            text: '1a'
		        }, {
		            type: 'all',
		            text: 'All'
		        }],
		        selected: 3
		    },    
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'Quantité Totale' }
    },
    series: [
      <% { "Commandes" => CommandeProduit, "Commandes Bouteilles" => CommandeProduit.bouteille}.each do |name, commandeProduit| %>
    {
      name: "<%= name %>",			
      marker : {
		enabled : true,
		radius : 3
		},
      pointInterval: <%= 1.month * 1000 %>,
      pointStart: <%= 3.years.ago.at_midnight.to_i * 1000 %>,
      data: [
           <%commandes_chart_series2(commandeProduit, 3.years.ago).each do |d|%>
        		<%=raw d %>,
      		<%end%>  
     ] 
    },
    <% end %>]
  });
});
</script>

<div id="orders_chart" style="width: 900px; height: 500px;"></div>

