<%= simple_form_for @commande, :html => {:class => "form-horizontal"} do |f| %>
<% if notification = f.error_notification %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notification %>
</div>
<% end %>
<table>
	<tr>
		<td>
			<!-- Numéro de facture -->
			<%= f.input :num_factu, :disabled => @commande.isFreeze %>
			
			<!-- Bon de livraison -->
			<%= f.association :bdl, :collection => Bdl.all, :prompt => "Choisissez un Bon de Livraison",
			  :key => :id , :label_method => :form_title , :disabled => @commande.isFreeze %>
			
			<!-- Client -->
			<%= f.association :client, :collection => Client.all, :prompt => "Choisissez un client",
			  :key => :id , :label_method => :form_title , :disabled => @commande.isFreeze%>
			
			<!-- A livrer -->
			<%= f.input :a_livrer, :disabled => @commande.isFreeze %>
			
			<!-- Date de livraison -->
			<div class="">
				<label class="checkbox inline" >
					<%= f.input :is_livraison %>
				</label>
				<%= f.text_field :date_livraison, :class => "datepicker hidden", :value => @commande.try(:date_livraison).try(:strftime, '%m/%d/%Y') %>
			</div>
			
			<!-- Date de paiement -->
			<div class="">
				<label class="checkbox inline" >
					<%= f.input :is_paiement, :label => 'Payée' %>
				</label>
				<%= f.text_field :date_paiement, :class => "datepicker hidden", :value => @commande.try(:date_paiement).try(:strftime, '%m/%d/%Y') %>
			
			</div>
		</td>
		<td valign="top" style="padding-left: 100px;">
			<div id="stockBdl" >
			</div>
		</td>
	</tr>
</table>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3>Produits :</h3>
			<table class="table">
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Cadeau</th>
				</tr>
				<% for comProduit in @commande.commande_produit %>
				
					<%= fields_for "commande[commande_produit_attributes][]", comProduit do |comProduit_form| %>
					<tr class="<%= if !comProduit.errors.nil? && comProduit.errors.size > 0  then "error" else "" end %>">
						<td>
							<div style="color:<%= if !comProduit.errors.nil? && comProduit.errors.size > 0  then "#B94A48" else "" end %>">
							<%= comProduit.produit.label %> : 
							<% if !comProduit.errors.nil? %>
								<% comProduit.errors.each do |k,v| %>
									<%= "#{ v }"  %>
								<%end %>
							<% end %>
							</div>
						</td>
						<td><%= comProduit_form.text_field :qty, :disabled => @commande.isFreeze, :class => "error" %></td>
						<td><%= comProduit_form.text_field :qty_cadeau, :disabled => @commande.isFreeze %></td>
						<%= comProduit_form.hidden_field :produit_id %>
					</tr>
					<% end %>
				<% end %>
			</table>
		</div>
		<div class="span6">
			<h3>Services :</h3>
			<table class="table" width="100%">
				<tr>
					<th>Service</th>
					<th>Prix</th>
				</tr>
				<% for comService in @commande.commande_service %>
				
					<%= fields_for "commande[commande_service_attributes][]", comService do |comService_form| %>
					<tr>
						<td><%= comService.service.label %> : </td>
						<td><%= comService_form.text_field :montant, :disabled => @commande.isFreeze %></td>
						<%= comService_form.hidden_field :service_id %>
					</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Enregistrer
	<% end %>
</div>

<% end %>
