<%= simple_form_for @commande, :html => {:class => "form-horizontal"} do |f| %>
<% if @commande.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@commande.errors.count, "error") %> prohibited this commande from being saved:</h2>

	<ul>
		<% @commande.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<%= f.input :num_factu, :label => "Numéro de Facture" %>

<div class="field">
	<%= f.label :bdl_id %>
	<br />
	<%= f.number_field :bdl_id %>
</div>

<%= f.association :client, :label => "Client", :collection => Client.all, :prompt => "Choose a location", 
	:key => :id , :label_method => :form_title %>



<%= f.text_field :date_factu, :class => 'datepicker', :size => 10, :maxlength => 10 %> 


<%= f.input :nb_etiquette, :label => "Nombre d'étiquettes" %>

<%= f.input :statut, :label => "Statut" %>

<table class="table">
	<tr>
		<th>Produit</th>
		<th>Quantité</th>
		<th>Cadeau</th>
	</tr>
	<% for comProduit in @arrayCommandeProduits %>
	<%= fields_for "...", comProduit do |comProduit_form| %>
	<tr>
		<td><%= comProduit.produit.label %> : </td>
		<td><%= comProduit_form.text_field :qty %></td>
		<td><%= comProduit_form.check_box :cadeau %></td>
	</tr>
	<% end %>
	<% end %>
</table>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Save
	<% end %>
</div>

<% end %>
