<%= simple_form_for @commande, :html => {:class => "form-horizontal"} do |f| %>
<% if notification = f.error_notification %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notification %>
</div>
<% end %>

<%= f.input :num_factu, :label => "Numéro de Facture" %>

<%= f.input :bdl_id, :label => "Bon de Livraison" %>

<%= f.association :client, :label => "Client", :collection => Client.all, :prompt => "Choisissez un client",
  :key => :id , :label_method => :form_title %>

<div class="control-group">
	<label class="control-label">Date de Facturation</label>
	<div class="controls">
		<%= f.text_field :date_factu, :label => "Date Facturation", :class => "datepicker" %>
		<script>
			$('.datepicker').datepicker({"autoclose": true, "format": "dd/mm/yyyy"})
		</script>
	</div>
</div>

<%= f.input :nb_etiquette, :label => "Nombre d'étiquettes" %>


<%= f.input :statut, :label => "Statut", :collection => ['Mémorisée', 'Livrée', 'Payée', 'Finalisée'], :prompt => "--" %>

<table class="table">
	<tr>
		<th>Produit</th>
		<th>Quantité</th>
		<th>Cadeau</th>
	</tr>
	<% for comProduit in @commande.commande_produit %>
	
		<%= fields_for "commande[commande_produit_attributes][]", comProduit do |comProduit_form| %>
		<tr>
			<td><%= comProduit.produit.label %> : </td>
			<td><%= comProduit_form.text_field :qty %></td>
			<td><%= comProduit_form.text_field :qty_cadeau %></td>
			<td><%= comProduit_form.hidden_field :produit_id %></td>
		</tr>
		<% end %>
	<% end %>
</table>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Save
	<% end %>
</div>

<% end %>
