<%= render :template => 'commons/_header' %>
<style>	
	p {
	  margin: 0 0 0;
	}	
	
	.container-fluid {
		padding-left: 0;
	}
</style>

<p id="notice">
	<%= notice %>
</p>

<div class="cartouche" >
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div>
					<%= image_tag("logo.png") %>
				</div>
			</div>
			
			<div class="span6">
				<br/>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soilly, le <%= DateTime.now.strftime('%d/%m/%Y') %></p>
				
				<br/>
				
				<%= @commande.client.prenom %> <%= @commande.client.nom %><br/>
				<% if @commande.client.nom_info != "" %>
					<%= @commande.client.nom_info %><br/>
				<%end%>
				
				<% if @commande.client.bat != "" %>
					<%= @commande.client.bat %><br/>
				<%end%>
				<% if @commande.client.num_voie != "" %>
					<%= @commande.client.num_voie %><br/>
				<%end%>
				<% if @commande.client.bp != "" %>
					<%= @commande.client.bp %><br/>
				<%end%>
				<% if @commande.client.codepostal != "" || @commande.client.ville != "" %>
					<%= @commande.client.codepostal %> <%= @commande.client.ville %><br/>
				<%end%>
				<% if @commande.client.pays != "" %>
					<%= @commande.client.pays.nom %><br/>
				<%end%>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span6">
								<p><%= Parameter.findByName("adresse_factu_rue") %></p>
								<p><%= Parameter.findByName("adresse_factu_cp_ville") %></p>
								<p>Tel : <%= Parameter.findByName("tel") %>/<%= Parameter.findByName("port") %></p>
							</div>
							
							<div class="span6">
								<p><%= Parameter.findByName("siteweb") %></p>
							</div>
						</div>
					</div>
				
			</div>
			<div class="span4">

			</div>
		</div>
	</div>
	
	<div class="center">
		<h4>Facture N° <%= @commande.num_factu %></h4>
		<h4>C.R.D</h4>
	</div>
</div>

<div class="well">
	<p>
		<b>Numéro de facture :</b>
		<%= @commande.num_factu %>
	</p>	
	<p>
		<b>Client:</b>
		<%= @commande.client.nom %>
	</p>
	<p>
		<b>A livrer :</b>
		<% if @commande.a_livrer %>
			<span class="label label-important">Oui</span>
		<%else%>
			<span class="label label-success">Non</span>
		<% end %>	
	</p>
	<p>
		<b>Date Facturation : </b>
		<% if @commande.date_factu && @commande.date_factu != nil %>
			<%= @commande.date_factu.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<b>Date livraison : </b>
		<% if @commande.is_livraison && @commande.date_livraison != nil %>
			<%= @commande.date_livraison.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<b>Date de paiement : </b>
		<% if @commande.is_paiement && @commande.date_paiement != nil %>
			<%= @commande.date_paiement.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
</div>

<table class="table table-bordered">

	<tr>
		<th class="center">Produit</th>
		<th class="center">Quantité</th>
		<th class="center">Prix Unitaire TTC</th>
		<th class="center">Montant TTC</th>
	</tr>
	
	<% for produitCommande in @commande.commande_produit %>
		<% if produitCommande.qty != nil && produitCommande.qty > 0 %>
			<tr>
				<td><b><%= produitCommande.produit.label %></b></td>
				<td class="center"><%= produitCommande.qty %></td>
				<td class="center">
					<% if @commande.a_livrer then %>	
						<%= sprintf("%.2f", produitCommande.tarif.prix_unitaire_ht_livraison) %>
					<% else %>
						<%= sprintf("%.2f", produitCommande.tarif.prix_unitaire_ht) %>
					<% end %>
					 &euro;
				</td>
				<td class="center"><%= sprintf("%.2f", produitCommande.calcMontantTTC) %> &euro;</td>
			</tr>
		<% end %>
	<%end%>
	

	
	<% if @commande.mntTotalService > 0 %>
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	
	<tr>
		<th class="center">Service</th>
		<th class="center" colspan="<%= if @gift then 3 else 2 end %>">Description</th>
		<th class="center">Montant TTC</th>
	</tr>
	<% end %>
	
	<% for serviceCommande in @commande.commande_service %>
		<% if serviceCommande.montant != nil && serviceCommande.montant > 0 %>
			<td><%= serviceCommande.service.label %></td>
			<td colspan="2"><%= serviceCommande.service.commentaire %></td>
			<td class="center"><%= sprintf("%.2f", serviceCommande.montant) %> &euro;</td>
		<% end %>
	<% end %>
	
	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td colspan="1" class="right"><b>Total TTC</b></td>
		<td class="center"><%= sprintf("%.2f", @totalTTC) %> &euro;</td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td colspan="1" class="right"><b>dont TVA <%= Parameter.findByName "tva" %>%</b></td>
		<td class="center"><%= sprintf("%.2f", @totalTVA) %> &euro;</td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td colspan="1" class="right"><b>Net à Payer</b></td>
		<td class="center"><%= sprintf("%.2f", @totalTTC) %> &euro;</td>
	</tr>
	
</table>

<% if @gift %>
	<b>Quantité offerte :</b>
	<ul>
		<% for produitCommande in @commande.commande_produit %>
			<% if produitCommande.qty_cadeau > 0 %>
				<li><%= produitCommande.produit.label %> : <%= produitCommande.qty_cadeau %></li>
			<% end %>
		
		<% end %>
		
	</ul>
<% end %>

<div class="center button">
	<a href="#" class="btn btn-warning" onclick="window.print(); return false;" >Imprimer</a> | 
	<%= link_to 'Facturer', "facture/#{ @commande.id }", class:"btn btn-danger" %>
</div>
<br/>

<div class="center button">
	<%= link_to '< Back', commandes_path, class:"btn btn-inverse" %>
</div>

<div class="footer">
	<b>Merci de faire apparaitre le numero de facture au dos du chèque.</b><br/><br/>
	
	<div class="legal-footer">
		<p class="very-small"><%= Parameter.findByName "reglement1" %></p>
		<p class="very-small"><small><%= Parameter.findByName "reglement2" %></small></p>
		<p class="very-small"><small><%= Parameter.findByName "reglement3" %></small></p>
		<p class="very-small"><small><%= Parameter.findByName "reglement4" %></small></p>
	</div>
	
	<div class="center">
		<p class="very-small"><small>TVA Intracomunautaire : <%= Parameter.findByName("code_tva") %></small></p>
		<p class="very-small"><small>Siret : <%= Parameter.findByName("num_siret") %></small></p>
		
	</div>
</div>