<%= render :template => 'commons/_header' %>

<p id="notice">
	<%= notice %>
</p>

<div class="well">
	<p>
		<b>Facture n°<%= @commande.num_factu %></b>
	</p>
	<p>
		<b>Client:</b>
		<%= @commande.client.nom %>
	</p>
	<p>
		<b>A livrer :</b>
		<%= @commande.a_livrer %>
	</p>
	<p>
		<b>Nb etiquette:</b>
		<%= @commande.nb_etiquette %>
	</p>
	<p>
		<% if @commande.is_livraison && @commande.date_livraison != nil %>
			<b>Date livraison : </b>
			<%= @commande.date_livraison.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<% if @commande.is_paiement && @commande.date_paiement != nil %>
			<b>Date de paiement : </b>
			<%= @commande.date_paiement.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
</div>

<table border="1">

	<tr>
		<th>Produit</th>
		<th>Quantité</th>
		<th>Quantité Offerte</th>
		<th>Prix Unitaire TTC</th>
		<th>Montant TTC</th>
	</tr>
	
	<% for produitCommande in @commande.commande_produit %>
		<% if (produitCommande.qty != nil && produitCommande.qty > 0) || (produitCommande.qty_cadeau != nil && produitCommande.qty_cadeau > 0) %>
			<tr>
				<td><%= produitCommande.produit.label %></td>
				<td align="center"><%= produitCommande.qty %></td>
				<td align="center"><%= produitCommande.qty_cadeau %></td>
				<td align="center">
					<% if @commande.a_livrer then %>	
						<%= produitCommande.tarif.prix_unitaire_ht_livraison %>
					<% else %>
						<%= produitCommande.tarif.prix_unitaire_ht %>
					<% end %>
					 &euro;
				</td>
				<td align="center"><%= produitCommande.calcMontantTTC %> &euro;</td>
			</tr>
		<% end %>
	<%end%>
	
	<tr>
		<td colspan="4" align="right">Total TTC</td>
		<td align="center">42</td>
	</tr>
	<tr>
		<td colspan="4" align="right">Transport TTC</td>
		<td align="center">42</td>
	</tr>
	<tr>
		<td colspan="4" align="right">dont TVA 19.60%</td>
		<td align="center">42</td>
	</tr>
	<tr>
		<td colspan="4" align="right">Net à Payer</td>
		<td align="center">42</td>
	</tr>
</table>


<div class="center">
	<%= link_to 'Back', commandes_path, class:"btn btn-inverse" %>
</div>
