<%= render :template => 'commons/_header' %>

<h3>Listing commandes</h3>

<% if Tarif.existTarifCurrentYear %>
	<div class="center">
		<%= link_to 'Nouvelle Commande', new_commande_path, class:"btn btn-primary" %>
	ou
		<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
			Chargement par fichier
		</button>
	
		<div id="uploadFile" class="collapse">
			<br />
			<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
			<%= file_field_tag :my_file %>
			<%= submit_tag("Charger", class: "btn btn-primary") %>
			<% end %>
		</div>	
	</div>
<% end %>

<br />

<table id="commandes" class="display" data-source="<%= commandes_url(format: "json") %>">
	<thead>
	  <tr>
	    <th>Num factu</th>
	    <th>Client</th>
	    <th>Date Factu</th>
	    <th>Date Livraison</th>
	    <th>Date Paiement</th>
	    <th>Qty Totale</th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  	</thead>
	<tbody>
	</tbody>
</table>




