<%= render :template => 'commons/_header' %>

<h1>Listing commandes</h1>

<div class="center">
	<%= link_to 'Nouvelle Commande', new_commande_path, class:"btn btn-primary" %>
ou
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
		Chargement par fichier
	</button>

	<div id="uploadFile" class="collapse">
		<br />
		<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
		<%= file_field_tag :my_file %>
		<%= submit_tag("Charger", class: "btn btn-primary") %>
		<% end %>
	</div>	
</div>

<br />

<table class="table">
  <tr onclick="">
    <th>Num factu</th>
    <th>Client</th>
    <th>Date factu</th>
    <th>Nb etiquette</th>
    <th>Qty Totale</th>
    <th>Statut</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commandes.each do |commande| %>
  <tr>
    <td><%= commande.num_factu %></td>
    <td><%= if commande.client != nil then commande.client.nom else "" end %></td>
    <td><%= commande.date_factu %></td>
    <td><%= commande.nb_etiquette %></td>
    <td><%= commande.qtyTotal %></td>
    <td><%= commande.statut %></td>
    <td><%= link_to 'Facture', "commandes/facturation/#{commande.id}", class:"btn btn-inverse" %></td>
    <td><%= link_to 'Show', commande, class:"btn btn-info" %></td>
    <td><%= link_to 'Edit', edit_commande_path(commande), class:"btn btn-warning" %></td>
    <td><%= link_to 'Destroy', commande, confirm: 'Are you sure?', method: :delete, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</table>




