<%= render :template => 'commons/_header' %>

<p id="notice">
	<%= notice %>
</p>

<div class="well">
	<p>
		<b>Num factu :</b>
		<%= @commande.num_factu %>
	</p>
	<p>
		<b>Client :</b>
		<%= @commande.client_id %>
	</p>
	<p>
		<b>Date factu :</b>
		<% if @commande.date_factu != nil %>
			<%= @commande.date_factu.strftime('%d/%m/%Y') %>
		<% end %>
	</p>
	<p>
		<% if @commande.is_livraison && @commande.date_livraison != nil %>
			<b>Date livraison : </b>
			<%= @commande.date_livraison.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<% if @commande.is_paiement && @commande.date_paiement != nil %>
			<b>Date de paiement : </b>
			<%= @commande.date_paiement.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<b>Nb etiquette :</b>
		<%= @commande.nb_etiquette %>
	</p>
	<p>
		<% if @commande.a_livrer %>
			<span class="label label-important">A livrer</span>
		<% end %>
	</p>
</div>

<table class="table ">
	<tr>
		<th>Produit</th>
		<th>Quantité</th>
		<th>Cadeau</th>
	</tr>
	
	<% for produitCommande in @commande.commande_produit %>
		<tr>
			<td><%= produitCommande.produit.label %></td>
			<td><%= produitCommande.qty %></td>
			<td><%= produitCommande.qty_cadeau %></td>
		</tr>
	<%end%>
	
</table>
<div class="center">
	<%= link_to 'Back', commandes_path, class:"btn btn-inverse" %> |
	<%= link_to 'Edit', edit_commande_path(@commande), class:"btn btn-warning" %>
</div>
