<%= render :template => 'commons/_header' %>

<p id="notice">
	<%= notice %>
</p>

<div class="well">
	<p>
		<b>Numéro de facture :</b>
		<%= @commande.num_factu %>
	</p>	
	<p>
		<b>Client:</b>
		<%= @commande.client.nom %>
	</p>
	<p>
		<b>A livrer :</b>

		<% if @commande.a_livrer %>
			<span class="label label-important">Oui</span>
		<%else%>
			<span class="label label-success">Non</span>
		<% end %>		
		
	</p>
	<p>
		<b>Date Facturation : </b>
		<% if @commande.date_factu && @commande.date_factu != nil %>
			<%= @commande.date_factu.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<b>Date livraison : </b>
		<% if @commande.is_livraison && @commande.date_livraison != nil %>
			<%= @commande.date_livraison.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<b>Date de paiement : </b>
		<% if @commande.is_paiement && @commande.date_paiement != nil %>
			<%= @commande.date_paiement.strftime('%d/%m/%Y') %>
		<% end %>	
	</p>
	<p>
		<b>Freeze : </b>
		<% if @commande.is_freeze %>
			<span class="label label-important">Oui</span>
		<%else%>
			<span class="label label-success">Non</span>
		<% end %>		
	</p>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3>Produits :</h3>
			<table class="table " width="100%">
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Cadeau</th>
				</tr>
				<% for produitCommande in @commande.commande_produit %>
					<tr>
						<td><%= produitCommande.produit.label %></td>
						<td><%= produitCommande.qty %></td>
						<td><%= produitCommande.qty_cadeau %></td>
					</tr>
				<%end%>
			</table>
		</div>
		<div class="span6">
			<h3>Services :</h3>
			<table class="table" width="100%">
				<tr>
					<th>Service</th>
					<th>Montant</th>
				</tr>
				<% for produitService in @commande.commande_service %>
					<tr>
						<td><%= produitService.service.label %></td>
						<td><%= produitService.montant %></td>
					</tr>
				<%end%>
			</table>	
		</div>
	</div>
</div>

<div class="center">
	<%= link_to 'Back', commandes_path, class:"btn btn-inverse" %>
	<% if !@commande.is_freeze %>
		 | <%= link_to 'Edit', edit_commande_path(@commande), class:"btn btn-warning" %>
	<%end%>
</div>
