<%= render :template => 'commons/_header' %>

<h3>Listing cleaning_pays</h3>
<br/>

<% if flash[:error] %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-block fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:notice] %>
</div>
<% end %>

<table id="cleaning" class="table" >
	<thead>
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Code Pays</th>
		</tr>
  </thead>
  <tbody>
	<% @pays.each do |pays| %>
	<tr>
	  <td><%= pays.id %></td>
	  <td><%= pays.nom %></td>
	  <td><%= pays.code_pays %></td>
	  
	</tr>	
	<% end %>
  </tbody>
</table>
</div>
