<%= simple_form_for @client, :html => {:class => "form-horizontal"} do |f| %>

<% if notification = f.error_notification %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notification %>
</div>
<% end %>

<%= f.input :num_client, :label => "Numéro de client"  %>
<%= f.input :num_tva, :label => "Numéro TVA"  %>
<%= f.input :nom, :label => "Nom"  %>
<%= f.input :nom_info, :label => "Nom (info complémentaire)"  %>
<%= f.input :bat, :label => "Bat / Immeuble / Z.I"  %>
<%= f.input :num_voie, :label => "N° et Voie"  %>
<%= f.input :bp, :label => "BP ou Lieu-Dit"  %>
<%= f.input :codepostal, :label => "Codepostal"  %>
<%= f.input :ville, :label => "Ville"  %>
<%= f.input :pays, :label => "Pays"  %>

<%= f.input :tel, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>
		<%= content_tag :div, :class => "icon-list" do %><% end %>
	<% end %>
	<%= f.input_field :tel %>
<% end %>

<%= f.input :portable, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>
		<%= content_tag :div, :class => "icon-signal" do %><% end %>
	<% end %>
	<%= f.input_field :portable %>
<% end %>

<%= f.input :fax, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>
		<%= content_tag :div, :class => "icon-print" do %><% end %>
	<% end %>
	<%= f.input_field :fax %>
<% end %>

<%= f.input :email, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>@<% end %>
	<%= f.input_field :email %>
<% end %>

<%= f.input :commentaire, :label => "Commentaire"  %>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Save
	<% end %>
</div>
<% end %>
