<%= simple_form_for @client, :html => {:class => "form-horizontal"} do |f| %>

<% if notification = f.error_notification %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notification %>
</div>
<% end %>

<%= f.input :num_client, :disabled => true  %>
<%= f.input :num_tva %>
<%= f.association :civilite, :collection => Type.findAllWithGroupe("civilite"), :prompt => "Choisissez une civilite",
  :key => :id , :label_method => :form_title %>
<%= f.input :nom %>
<%= f.input :prenom %>
<%= f.input :nom_info %>
<%= f.input :bat %>
<%= f.input :num_voie %>
<%= f.input :bp %>
<%= f.input :codepostal %>
<%= f.input :ville %>
<%= f.association :pays, :collection => CleaningPay.all, :prompt => "Choisissez un pays",
  :label_method => :form_title %>

<%= f.input :tel, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>
		<%= content_tag :div, :class => "icon-list" do %><% end %>
	<% end %>
	<%= f.input_field :tel %>
<% end %>

<%= f.input :portable, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>
		<%= content_tag :div, :class => "icon-signal" do %><% end %>
	<% end %>
	<%= f.input_field :portable %>
<% end %>

<%= f.input :fax, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>
		<%= content_tag :div, :class => "icon-print" do %><% end %>
	<% end %>
	<%= f.input_field :fax %>
<% end %>

<%= f.input :email, :wrapper => :prepend do %>
	<%= content_tag :div, :class => "add-on" do %>@<% end %>
	<%= f.input_field :email %>
<% end %>


<%= f.input :commentaire  %>

Nombre de références : <%= @client.countRef %>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Enregistrer
	<% end %>
</div>


<% end %>
