<%= render :template => 'commons/_header' %>

<h3>Modification Client</h3>

<%= render 'form' %>

<div class="center">
	<%= link_to 'Retour', clients_path, class:"btn btn-inverse" %> |
	<%= link_to 'Afficher', @client, class:"btn btn-info" %>

	<% if @client.countRef == 0 %>
		 | <%= link_to 'Supprimer', @client, confirm: 'Etes vous sur ?', method: :delete, class:"btn btn-danger" %>
	<% end %>

</div>