<%= render :template => 'commons/_header' %>

<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }

</style>

<h1>Listing clients</h1>

<% if flash[:error] %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-block fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:notice] %>
</div>
<% end %>

<div class="center">
	<%= link_to 'New Client', new_client_path, class:"btn btn-primary" %>
	ou
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
		Chargement par fichier
	</button>

	<div id="uploadFile" class="collapse">
		<br />
		<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
		<%= file_field_tag :my_file %>
		<%= submit_tag("Charger", class: "btn btn-primary") %>
		<% end %>
	</div>
</div>

<!-- >
<div class="center">
	<a data-toggle="collapse" data-target="#filtre">
		<b>Filtre</b>
	</a>
	<div id="filtre" class="collapse">
		<%= search_form_for @q, :html => {:class => "form-horizontal"} do |f| %>
		  <%= f.label "Nom" %> <%= f.text_field :nom_cont %>
		  <%= f.submit %>
		<% end %>
	</div>
</div>
-->

<table id="clients" border="0" cellpadding="0" cellspacing="0" class="pretty" data-source="<%= clients_url(format: "json") %>">
	<thead>
		<tr>
			<th>Num</th>
			<th>Nom</th>
			<th>Num voie</th>
			<th>Ville</th>
			<th>Pays</th>
			<th>Email</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br />
<div class="center">
	<div id="map_canvas" style="width:400px; height:400px;" class="center"></div>
</div>

<script>
	function initialize() {
		
	  	var mapOptions = {
	  		center: new google.maps.LatLng(46.227638, 2.213749),
	  		zoom: 5,
	    	mapTypeId: google.maps.MapTypeId.ROADMAP
	  	}
	  
	  	var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

	  
	  	<% @clients.each do |client| %>
	  		<% if client.latitude != nil && client.longitude != nil then %>
		  	new google.maps.Marker({
		    	position: new google.maps.LatLng(<%= client.latitude %>, <%= client.longitude %>),
		        map: map,
		        title: "<%= client.nom %>"
			});
			<%end%>
		<%end%>
	}
	
	function loadScript() {
	  var script = document.createElement("script");
	  script.type = "text/javascript";
	  script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDIt0UOzmMBSaklD-XUtSqATQKaRp4HF5E&sensor=false&callback=initialize";
	  document.body.appendChild(script);
	}
	
	loadScript();
</script>
