<%= render :template => 'clients/../_header' %>

<h1>Listing clients</h1>

<% if flash[:error] %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-block fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:notice] %>
</div>
<% end %>

<div class="center">
	<%= link_to 'New Client', new_client_path, class:"btn btn-primary" %>

ou
		<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
			Chargement par fichier
		</button>

		<div id="uploadFile" class="collapse">
			<br />
			<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
			<%= file_field_tag :my_file %>
			<%= submit_tag("Charger", class: "btn btn-primary") %>
			<% end %>
		</div>

</div>

<br />

<div class="center">
	<a data-toggle="collapse" data-target="#filtre">
		<b>Filtre</b>
	</a>
	<div id="filtre" class="collapse">
		<%= search_form_for @q, :html => {:class => "form-horizontal"} do |f| %>
		  <%= f.label "Nom" %> <%= f.text_field :nom_cont %>
		  <%= f.submit %>
		<% end %>
	</div>
</div>

<table class="table table-condensed">
	<tr>
		<th>N° client</th>
		<th>Nom</th>
		<th>Num voie</th>
		<th>Codepostal</th>
		<th>Ville</th>
		<th>Pays</th>
		<th>Email</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @clients.each do |client| %>
	<tr>
		<td><%= client.num_client %></td>
		<td><%= client.nom %></td>
		<td><%= client.num_voie %></td>
		<td><%= client.codepostal %></td>
		<td><%= client.ville %></td>
		<td><%= client.pays %></td>
		<td><%= client.email %></td>
		<td><%= link_to 'Show', client, class:"btn btn-info" %></td>
		<td><%= link_to 'Edit', edit_client_path(client), class:"btn btn-warning" %></td>
		<td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete, class:"btn btn-danger" %></td>
	</tr>
	<% end %>
</table>

<br />

