<%= render :template => 'commons/_header' %>

<h3>Listing clients</h3>

<% if flash[:error] %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-block fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:notice] %>
</div>
<% end %>

<div class="center">
	<%= link_to 'Nouveau Client', new_client_path, class:"btn btn-primary" %>
	ou
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
		Chargement par fichier
	</button>

	<div id="uploadFile" class="collapse">
		<br />
		<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
		<%= file_field_tag :my_file %>
		<%= submit_tag("Charger", class: "btn btn-primary") %>
		<% end %>
	</div>
</div>

<br/>

<table id="clients" class="display" data-source="<%= clients_url(format: "json") %>">
	<thead>
		<tr>
			<th>N° Client</th>
			<th>Geoloc</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Num voie</th>
			<th>CP</th>
			<th>Ville</th>
			<th>Pays</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
  </thead>
  <tbody>
  </tbody>
</table>

