<%= render :template => 'commons/_header' %>

<h3>Listing clients</h3>

<% if flash[:error] %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-block fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:notice] %>
</div>
<% end %>

<div class="center">
	<%= link_to 'New Client', new_client_path, class:"btn btn-primary" %>
	ou
	<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#uploadFile">
		Chargement par fichier
	</button>

	<div id="uploadFile" class="collapse">
		<br />
		<%= form_tag({:action => :uploadFile}, :multipart => true) do %>
		<%= file_field_tag :my_file %>
		<%= submit_tag("Charger", class: "btn btn-primary") %>
		<% end %>
	</div>
</div>

<table id="clients" class="table" >
	<thead>
		<tr>
			<th>N° Client</th>
			<th>Geoloc</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Num voie</th>
			<th>CP</th>
			<th>Ville</th>
			<th>Pays</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
  </thead>
  <tbody>
	<% @clients.each do |client| %>
	<tr>
	  <td><%= client.num_client %></td>
	  <td class="center">
	  	<% if !client.isGeoloc %>
	  		<span class="label label-important"><abbr title="Pas de coordonnées de géolocalisation">Error</aabr></span>
	  	<% else %>
	  		<span class="label label-success">OK</span>
	  	<% end %>
	  </td>		
	  <td><%= client.nom %></td>
	  <td><%= client.prenom %></td>
	  <td><%= client.num_voie %></td>
	  <td><%= client.codepostal %></td>
	  <td><%= client.ville %></td>
	  <td>
	  	<% if !client.pays.nil? %>
	  		<%= client.pays.nom %>
	  	<% end %>
	  </td>
	  <td>
	  	<% if Tarif.existTarifCurrentYear %>
	  		<%= link_to 'Commande', "commandes/new_with_client/#{client.id}", class:"btn btn-primary" %>
	  	<% end %>
	  	</td>
	  <td>
	  	<% if Tarif.existTarifCurrentYear %>
	  		<%= link_to 'BdL', "bdls/new_with_client/#{client.id}", class:"btn btn-primary" %>
	  	<% end %>	
	  	</td>
	  <td><%= link_to 'Show', client, class:"btn btn-info" %></td>
	  <td><%= link_to 'Edit', edit_client_path(client), class:"btn btn-warning" %></td>
	  <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete, class:"btn btn-danger" %></td>
	</tr>	
	<% end %>
  </tbody>
</table>

