<%= render :template => 'commons/_header' %>

<p id="notice">
	<%= notice %>
</p>

<div class="well">
	<p>
		<b>Num client:</b>
		<%= @client.num_client %>
	</p>
	<p>
		<b>Num tva:</b>
		<%= @client.num_tva %>
	</p>
	<p>
		<b>Coordonnées:</b>
		<%= @client.printCoord %>
	</p>
	<p>
		<b>Nom:</b>
		<%= @client.nom %>
	</p>
	<p>
		<b>Nom info:</b>
		<%= @client.nom_info %>
	</p>
	<p>
		<b>Bat:</b>
		<%= @client.bat %>
	</p>
	<p>
		<b>Num voie:</b>
		<%= @client.num_voie %>
	</p>
	<p>
		<b>Bp:</b>
		<%= @client.bp %>
	</p>
	<p>
		<b>Codepostal:</b>
		<%= @client.codepostal %>
	</p>
	<p>
		<b>Ville:</b>
		<%= @client.ville %>
	</p>
	<p>
		<b>Pays:</b>
		<%= @client.pays %>
	</p>
	<p>
		<b>Tel:</b>
		<%= @client.tel %>
	</p>
	<p>
		<b>Portable:</b>
		<%= @client.portable %>
	</p>
	<p>
		<b>Fax:</b>
		<%= @client.fax %>
	</p>
	<p>
		<b>Email:</b>
		<%= @client.email %>
	</p>
	<p>
		<b>Commentaire:</b>
		<%= @client.commentaire %>
	</p>
</div>


<div class="center">
	<%= link_to 'Back', clients_path, class:"btn btn-inverse" %> |
	<%= link_to 'Edit', edit_client_path(@client), class:"btn btn-warning" %>
</div>