<div class="navbar navbar-inverse navbar-fixed-top print-hidden">
	<div class="navbar-inner">

		<ul class="nav">
			<!-- Home -->
			<li>
				<a class="" href="/"><div class="icon-home icon-white" ></div></a>
			</li>
			
			<!-- Produit -->
			<li class="<%= if @token == :produits then "active" else "" end %>">
				<a href="/produits">Produits</a>
			</li>
			
			<!-- Client -->
			<li class="<%= if @token == :clients then "active" else "" end %>">
				<a href="/clients">Client</a>
			</li>
			
			<!-- Tarifs -->
			<li class="<%= if @token == :tarifs then "active" else "" end %>">
				<a href="/tarifs">Tarifs</a>
			</li>

			<!-- Commande -->
			<li class="dropdown <%= if @token == :commandes then "active" else "" end %>">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Commande<b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li class="">
						<a href="/commandes">Facturation</a>
					</li>
					<li class="">
						<a href="/bdls">Bon de Livraison</a>
					</li>
					<li>
						<a href="/commande_stats">Statistiques</a>
					</li>
				</ul>
			</li>

			<!-- Fin de mois -->
			<li class="<%= if @token == :finDeMois then "active" else "" end %>">
				<a href="/fin_de_mois">Fin de mois</a>
			</li>

			<!-- Cartographie -->
			<li class="<%= if @token == :carto then "active" else "" end %>">
				<a href="/cartographie"><div class="icon-globe icon-white"></div>&nbsp;Carte des livraisons</a>
			</li>

			<!-- Mailing -->
			<li class="dropdown <%= if @token == :mailing then "active" else "" end %>">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <div class="icon-envelope icon-white"></div>&nbsp;Mailing<b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="/mailing/envoi">Envoi</a>
					</li>
					<li>
						<a href="/mailing/index">Liste</a>
					</li>
				</ul>
			</li>			
			
			<!-- Configuration -->
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <div class="icon-wrench icon-white"></div><b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="/parameters">Paramétrage</a>
					</li>
					<li>
						<a href="/types">Types</a>
					</li>
					<li>
						<a href="/services">Services</a>
					</li>
					<li class="dropdown-submenu">
						<a href="">Datacleaning</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/cleaning">List Client</a>
							</li>
							<li>
								<a href="/cleaning_villes">Admin Ville</a>
							</li>
							<li>
								<a href="/cleaning_pays">Admin Pays</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>

		</ul>
	</div>
</div>

<% if !Tarif.existTarifCurrentYear %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>ATTENTION !</h4>
  <ul>
  	<li>Il n'existe aucun tarif pour l'année en cours. Les création de commandes et de BDLs ont été bloqués.</li>
  </ul>
</div>
<% end %>
