<%= render :template => 'commons/_header' %>

<div id="to_be_printed" class="to_be_printed">
	
</div>

<div class="print-hidden">
	
	<div id="messToPrint"></div>

	<h3>Mailing</h3>
	
	<script>
		function openPopover(id) {
			$('.label-with-popover' + id).popover("show");
		}
		
		function closePopover(id) {
			$('.label-with-popover' + id).popover("hide");
		}
	
	  function displayDetail(id) {
	      if ($('#' + id).is(':visible')) {
	          $('#' + id).hide();
	          $('#div_link_' + id).attr('class', 'icon-plus-sign');
	      } else {
	          $('#' + id).show();
	          $('#div_link_' + id).attr('class', 'icon-minus-sign');
	      }
	  }
	  
	function checkAll() {
		var re = new RegExp(/^check_\d+$/);
	       					
		var checked = $('#checkAllAuto').is(':checked');
		var tab = $('#clients-mailing').dataTable();
		if (checked){
			$('input', tab.fnGetNodes()).each( function() {
				$('input', tab.fnGetNodes()).attr('checked','checked');
			} );
		} else {
			$('input', tab.fnGetNodes()).each( function() {
				$('input', tab.fnGetNodes()).removeAttr("checked");
			} );     				
    	}	
    }	
	  
	</script>

	<div>
		<a href="#" style="background: white; color: black;" onclick="displayDetail('select_client');"><div id="div_link_select_client" class="icon-plus-sign"></div><b>&nbsp;Selection des clients</b></a>
	</div>    
	       
	<div id="select_client" style="display: none;">

		<!-- Moteur de Recherche Des Clients -->
		<%= search_form_for @search, :url => "envoi",
                        :html => {:method => :post, :class => "form-horizontal"} do |f| %>
		  <div class="field">
		  	
		  	<!-- Nom -->
			<div class="control-group">
				<label class="control-label" >Nom</label>
				<div class="controls">
					<%= f.text_field :nom_cont %>
				</div>
			</div>	
			
			<!-- Ville -->
			<div class="control-group">
				<label class="control-label" >Ville</label>
				<div class="controls">
					<%= f.text_field :ville_cont %>
				</div>
			</div>		
			
		  	
		  </div>
		  <div class="actions"><%= f.submit "Search" %></div>
		<% end %>		
		
		<div style="margin-left: 50px; margin-top: 50px;">
			<table id="clients-mailing" class="table table-bordered" >
				<thead>
					<tr>
						<th><input type="checkbox" id="checkAllAuto" onclick="checkAll();" /></th>
						<th>Clean</th>
						<th>N° Client</th>
						<th>Nom</th>
						<th>Num voie</th>
						<th>CP</th>
						<th>Ville</th>
						<th>Pays</th>
						<th>Test</th>
					</tr>
			  </thead>
			  <tbody>
				<% @clients.each do |client| %>
				<tr onmouseover="openPopover(<%= client.id %>)" onmouseout="closePopover(<%= client.id %>)">
				  <td>
				  	<input type="checkbox" name="exportchk" id="check_<%= client.id %>" value="<%= client.id %>" />
				  </td>
				  <td class="center">
				  	<% if !client.cleaning %>
				  		<span class="label label-important">Error</span>
				  	<% else %>
				  		<span class="label label-success">OK</span>
				  	<% end %>
				  </td>			
				  <td>
				  	<%= client.num_client %>
				  	<!--a href="#"  class="btn-danger label-with-popover<%= client.id %>" rel="popover" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="Statistique"></a-->
				  </td>
				  <td><%= client.nom %></td>
				  <td><%= client.num_voie %></td>
				  <td><%= client.codepostal %></td>
				  <td><%= client.ville %></td>
				  <td>
				  	<% if !client.pays.nil? %>
				  		<%= client.pays.nom %>
				  	<% end %>
				  </td>
				  <td>
				  	
				  </td>
				</tr>	
				<% end %>
			  </tbody>
			</table>
		</div>
	</div>
	
	<br/></br/>
	<div>
		<a href="#" style="background: white; color: black;" onclick="displayDetail('text_mailing');"><div id="div_link_text_mailing" class="icon-minus-sign"></div><b>&nbsp;Texte mailing</b></a>
	</div>    
	
	<div id="text_mailing" style="display: block;">
		<div style="margin-left: 50px; margin-top: 50px;">
			<textarea id="message-textarea" class="wysihtml5" placeholder="Saisie du texte..." style="width: 810px; height: 400px" ><%= if @mailing.nil? then "" else @mailing.t_texte end %></textarea>
		</div>
	</div>
	
	<div class="center button">
		<a href="#" class="btn btn-danger" id="btn-brouillon" >Brouillon</a> | 
		<a href="#" class="btn btn-danger" id="btn-envoi" >Sauvegarde Envoyé</a> | 
		<a href="#" class="btn btn-warning" id="btn-print" >Imprimer</a>
	</div>
	
	</br/>
	<div class="alert alert-block">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <h4>TODO :</h4>
	  <ul>
	  	<li>Création de la table "mailing_client" avec mailing_id(integer) / client_id(integer)</li>
	  	<li>Quand checkbox, tenir a jour une liste d'id en string</li>
	  	<li>Click sur bouton Imprimer : modifier l'ecran pour creer une div invisible avec toutes les info</li>
	  </ul>
	</div>
</div>	

<% if @openSearch %>
<script>
	displayDetail('select_client');	
</script>
<% end %>
