<%= simple_form_for @tarif, :html => {:class => "form-horizontal"}  do |f| %>
<% if @tarif.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@tarif.errors.count, "error") %> prohibited this tarif from being saved:</h2>

	<ul>
		<% @tarif.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="control-group integer optional disabled">
	<label class="control-label float">Produit</label>
	<div class="controls"><input type="text" disabled="disabled" value="<%= @tarif.produit.label %>"></div>
</div>        
<%= f.input :annee, :label => "Année", :disabled => true  %>

<div class="control-group integer optional disabled">
	<label class="control-label float">Produit</label>
	<div class="controls">
		<%= f.text_field :prix_unitaire_ht, :label => "Prix Unitaire" %>
	</div>
</div>        

<div class="control-group integer optional disabled">
	<label class="control-label float">Produit</label>
	<div class="controls">
		<%= f.text_field :prix_unitaire_ht_livraison, :label => "Prix Unitaire (livraison)"  %>
	</div>
</div>        



<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Save
	<% end %>
</div>
<% end %>
