<%= render :template => 'tarifs/../_header' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Prix unitaire ht:</b>
  <%= @tarif.prix_unitaire_ht %>
</p>

<p>
  <b>Annee:</b>
  <%= @tarif.annee %>
</p>


<%= link_to 'Back', tarifs_path, class:"btn btn-inverse" %> |
<%= link_to 'Edit', edit_tarif_path(@tarif), class:"btn btn-warning" %>
