<%= simple_form_for @parameter, :html => {:class => "form-horizontal"} do |f| %>
<% if notification = f.error_notification %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notification %>
</div>
<% end %>

<%= f.input :p_name %>

<%= f.input :p_value %>

<%= f.input :description %>

<%= f.input :grp %>

<div class="form-actions">
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	<i class="icon-ok icon-white"></i> Enregistrer
	<% end %>
</div>
<% end %>
